.about-me {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.decrypted-text-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decrypted-text-parent {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.folder-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

